modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 24977
externalPort = 3001

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_KVhZHUdXmVHAWfSOEXopJTjEVrn"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_cwOmbHWVfRvdgUwUwgqbFwbqqGw"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_SHAdZuDCLxHVtqmgEvCGnRpkadv"
REVENUECAT_PROJECT_ID = "proj0ba05017"
REVENUECAT_TEST_STORE_APP_ID = "app4b0037d52a"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appb5da2a2d44"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app3f4187bcf4"
